<section id="about" class="container content-section text-center">
    <div id="about_change" class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <br/><br/>
            <h2>About Tessa</h2>
            <hr class="intro-divider">
            <br/>
                <p><font size="4px"> I am an entomologist... </font></p>
                <p><font size="4px"> Under construction</font></p>
                <p><font size="4px"> Graduate student in the  <a href="http://girke.bioinformatics.ucr.edu/">Mauck Lab </a> at <a href="https://www.ucr.edu/">UCR</a> as of Fall 2016. The following gives a short summary of my career and the current projects.</font></p>
                
             <br/>
        </div>
    </div>
</section>






