<section id="about" class="container content-section text-center">
    <div id="about_change" class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <br/><br/>
            <h2>About Tessa</h2>
            <hr class="intro-divider">
            <br/>
                <p><font size="4px"> I am an entomologist who uses field work and molecular tools to learn about the interactions between plant viruses, their insect vectors, and their drought-adapted, native perennial plant hosts.</font></p>
                <p><font size="4px"> I earned my BS in Ecology and Evolutionary Biology at UC Irvine, where I was first introduced to working with aphids. I pursued this interest by completing an internship in Corvallis, OR, where I had a crash course in learning major insect groups and working in forestry field sites. </font></p>
                <p><font size="4px"> Now, I am a PhD candidate in the  <a href="http://maucklab.ucr.acsitefactory.com//">Mauck Lab </a> at <a href="https://www.ucr.edu/">UCR</a> as of Fall 2016. The following gives a short summary of my career and the current projects.</font></p>
                
             <br/>
        </div>
    </div>
</section>






